input{
    width: 80%;
    border: none;
    border-top: 2px solid #49CCF9;
    border-bottom: 2px solid #49CCF9;
    margin: 10px 5px 10px 10px !important; 
    padding: 10px;
}

input:focus{
    background-color: rgba(73, 205, 249, 0.08);
}

.btn{
    margin-bottom: 10px !important;
}